/* styles.css */




 


.custom-navbar {
    background-color: #759eff !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler-icon {
    color: #ffffff !important;
}

.custom-navbar .nav-link:hover {
    color: #cccccc !important; 
}

.custom-navbar .dropdown-menu {
    background-color: #759eff !important;
}

.custom-navbar .dropdown-item {
    color: #ffffff !important; 
}

.custom-navbar .dropdown-item:hover {
    background-color: #5670b5 !important;
}




body {
    display: grid;
    font-family: Arial, sans-serif;
    grid-gap: 1rem;
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";

 
  }


  
  header {
    grid-area: header;
    padding: 1.5rem;
  }
  
  aside {
    grid-area: aside;
    background-color:#759eff ;
    width: 100%;
    height: auto;

  }
  

  
  footer {
    grid-area: footer;
    padding: 1rem;
  }
  
 
section {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 45%;
    margin-left:30px ;
}

#book-form label {
    display: block;
    margin-top: 1rem;
}

#book-form input, #book-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#book-form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    color: #759eff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #759eff;
}



#search-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#search-bar input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}





#library {
    display: flex;
  
}

main{
    display: flex;
  
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}



.book {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    background: white;
    width: calc(50% - 2rem);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.book img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}




.book .view-button {
    background: #00c;
}

.book .view-button:hover {
    background: #00e;
}

span{
    color: #007bff;
}

input::placeholder{
    color: rebeccapurple;
}


.dark-mode-toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 20px;
    position: relative;
  }
  
  .toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .dark-mode-toggle input[type="checkbox"]:checked + .toggle-label {
    background: #2c3e50; 
  }
  
  .dark-mode-toggle input[type="checkbox"]:checked + .toggle-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: #f1c40f; 
  }



.alert {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 60px;
}


.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}
.card h2 {
    margin-top: 0;
   

}

.addlivro, label{
   color: white;
}
.card p {
    margin: 5px 0;
}
.card a {
    text-decoration: none;
    color: #007bff;
}




.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}




.logo{
    width: 300px;
}

.bot-message {
    background-color: #e2e2e2;
    align-self: flex-start;
}

.user-message {
    background-color: #0084ff;
    color: white;
    align-self: flex-end;
}

#user-input {
    border: none;
    padding: 10px;
    flex: 0;
    font-size: 16px;
    width: calc(100% - 80px);
    border-top: 1px solid #ddd;
}

#send-button {
    border: none;
   
    padding: 15px;
    cursor: pointer;
    font-size: 16px;

}


#add-book-section{
    width: 90%;
    margin-top: 70px;
    background-color: #759eff ;
}


@media(max-width: 768px){
    .card {
        width: 300px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-top: auto;
        margin: auto;
        margin-right: auto;
    }
    
}